main{
    /* fill all space */
    flex: 1;
}

main ul {
    display: grid;
    /* set two columns */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* remove the lists dots */
    list-style: none;
}

@media (max-width: 650px) {
    main ul{
        grid-template-columns: 1fr;
    }
}